body {
    font-family: 'Sometype Mono', monospace;
    color: #ffffff;
    background-color: #202020;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: #383142;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width:100%;
    position: fixed;
    top: 0;
}

.logo h1 {
    color: #bf8ed4;
    margin: 0;
    margin-top: auto;
}

.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #bf8ed4;
    font-size: 18px;
}

.nav-links a:hover {
    color: #ffffff;
}

section {
    padding: 100px;
    text-align: center; /* Kısımları ortala */
    max-width: 900px; /* Maksimum içerik genişliği */
    width: 100%;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #bf8ed4;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.project {
    margin-bottom: 20px;
    border: 1px solid #bf8ed4;
    padding: 10px;
    border-radius: 5px;
}

.project h3 {
    color: #bf8ed4;
}

.skill {
    margin-bottom: 20px;
}

.skill h3 {
    color: #bf8ed4;
}

.skill-meter {
    background-color: #383142;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}

.skill-level {
    height: 100%;
    background-color: #bf8ed4;
}

.skill p {
    margin: 0;
}

.a_baglanti {
    color: #bf8ed4;
}

#mail {
    width: 50px;
    height: auto;
}

#linkedin {
    width: 50px;
    height: auto;
}

#github {
    width: 50px;
    height: auto;
}

footer {
    background-color: #383142;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width:100%;
}

.form-group {
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    font-size: 18px;
    color: #bf8ed4;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #bf8ed4;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #bf8ed4;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #8e44ad;
}

hr {
    width: 300px;
    border: 2px solid #bf8ed4; 
    margin: 0;
}

section#about {
    margin-top: 150px;
}